.intro{
    width:50%;
    margin: auto;
    padding:3rem 0rem;
    
}
.intro div{
    padding-top: 1rem;
}
.intro h3{
    margin: auto;
    font-weight: bolder;
    font-size: x-large;
    text-shadow: 1px 1px 1px gray;
}
.intro p{

    font-weight: bold;
    
}
.intro span{
    color:red
}