
/* h4{
    
   // color: #a22d09;
} */
table {
    border-collapse: collapse;
    border: 1px solid  #a22d09;;
    width: 50%;
    margin: auto;
   
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }