.services{
    width: 50%;
    margin: auto;
    padding:1rem 0rem;
    
}
.services h3{
    margin: auto;
    font-weight: bolder;
    font-size: x-large;
    padding: 1rem;
    text-shadow: 1px 1px 1px gray;
}
.services section{
    display: flex;
    flex-wrap: wrap;    
    width: 100vh;
    margin: auto;
    justify-content: center;
}
@media (max-width :700px) {
    .services section{
        flex-wrap: wrap;
    }
    
}